/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
.hs-admin-page {
  padding-bottom: 50px;
  padding-top: 50px;
}
.hs-admin-page .hs-admin-menu ul li {
  padding: 7px 0;
  border-bottom: 1px solid #e4e4e4;
  text-transform: uppercase;
}
.hs-admin-page .hs-admin-menu ul li a {
  color: #666666;
}
.hs-admin-page .hs-admin-menu ul li a:hover {
  color: #ff3c45;
  text-decoration: none;
}
.hs-admin-page .hs-admin-menu ul li.active a {
  color: #ff3c45;
}
/* Rooms List */
.hs-list-rooms .hs-btn-blue {
  margin-bottom: 20px;
}
.hs-list-rooms table {
  text-align: center;
}
.hs-list-rooms table thead {
  font-weight: 700;
}
.hs-list-rooms table .glyphicon-edit {
  color: orange;
  margin-right: 10px;
}
.hs-list-rooms table .glyphicon-remove {
  color: #ff3c45;
}
.hs-add-room .lined-heading {
  margin-bottom: 30px;
}
.hs-add-room .lined-heading span {
  font-size: 20px;
}
.hs-add-room form label {
  font-weight: 400;
}
.hs-add-room form .required {
  color: #ff3c45;
  font-weight: 700;
}
.hs-add-room form .hs-btn-blue {
  margin-top: 20px;
}
/* Users List */
/* Employee - Reservations */
.hs-reservation-employee-list .glyphicon-remove {
  color: #ff3c45;
}
.hs-reservation-employee-list table {
  text-align: center;
}
.hs-reservation-employee-list .lined-heading {
  margin-bottom: 30px;
}
.hs-reservation-employee-list .lined-heading span {
  font-size: 20px;
}
/* User - Reservation */
.hs-reservation-user-list .glyphicon-remove {
  color: #ff3c45;
}
.hs-reservation-user-list table {
  text-align: center;
}
.hs-reservation-user-list .lined-heading {
  margin-bottom: 30px;
}
.hs-reservation-user-list .lined-heading span {
  font-size: 20px;
}
