/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
/* Global */
.hs-btn-global,
.hs-btn-sm,
.hs-btn-md,
.hs-btn-lg,
.hs-btn-full {
  display: inline-block;
  border-radius: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
}
/* Button Sizes */
.hs-btn-sm {
  line-height: 1.6;
  font-size: 12px;
  padding: 13px 40px;
  font-weight: 700;
}
.hs-btn-md {
  line-height: 1.8;
  font-size: 14px;
  padding: 15px 50px;
  font-weight: 700;
}
.hs-btn-lg {
  line-height: 1.9;
  font-size: 15px;
  padding: 17px 66px;
  font-weight: 700;
}
.hs-btn-full {
  line-height: 1.8;
  font-size: 14px;
  padding: 15px 50px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
/* Button Colors */
.hs-btn-blue {
  display: inline-block;
  background-color: #41cce3;
  color: #ffffff;
}
.hs-btn-blue:focus,
.hs-btn-blue:hover,
.hs-btn-blue:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #20c0db;
}
.hs-btn-red {
  display: inline-block;
  background-color: #ff3c45;
  color: #ffffff;
}
.hs-btn-red:focus,
.hs-btn-red:hover,
.hs-btn-red:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff131e;
}
.hs-btn-transparent {
  display: inline-block;
  color: #666666;
  border: 2px solid #e4e4e4;
}
.hs-btn-transparent:focus,
.hs-btn-transparent:hover,
.hs-btn-transparent:active {
  text-decoration: none;
  background-color: #666666;
  color: #ffffff;
}
