/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
.hs-contact-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-contact-page .lined-heading {
  margin-bottom: 50px;
}
.hs-contact-page .lined-heading span {
  font-size: 20px;
}
.hs-contact-page .hs-contact-info {
  text-align: center;
}
.hs-contact-page .hs-contact-info p {
  margin-bottom: 2px;
}
.hs-contact-page .hs-contact-form .required {
  color: #ff3c45;
}
.hs-contact-page .hs-contact-form input[type=submit] {
  margin-top: 20px;
}
