@import "../helpers/_variables";

.hs-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @color-dark-grey-2;

  .copyright {
    color: @color-white;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}