@import "../helpers/_variables";

/* Login */
.hs-login-page {
  padding-top: 50px;
  padding-bottom: 50px;

  .lined-heading {
    margin-bottom: 30px;
    span {
      font-size: 20px;
    }
  }

  .hs-login-form {
    float: none;
    margin: auto;
  }
}

/* Register */
.hs-register-page {
  padding-top: 50px;
  padding-bottom: 50px;

  .lined-heading {
    margin-bottom: 30px;
    span {
      font-size: 20px;
    }
  }

  .hs-register-form {
    float: none;
    margin: auto;
    
    .form-group {
      position: relative;
    }

    .infield {
      position: absolute;
      float: right;
      right: 13px;
      font-size: 14px;
      top: 0;
      width: 15px;
      margin-top: 40px;
    }
  }
}