/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
/* Login */
.hs-login-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-login-page .lined-heading {
  margin-bottom: 30px;
}
.hs-login-page .lined-heading span {
  font-size: 20px;
}
.hs-login-page .hs-login-form {
  float: none;
  margin: auto;
}
/* Register */
.hs-register-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-register-page .lined-heading {
  margin-bottom: 30px;
}
.hs-register-page .lined-heading span {
  font-size: 20px;
}
.hs-register-page .hs-register-form {
  float: none;
  margin: auto;
}
.hs-register-page .hs-register-form .form-group {
  position: relative;
}
.hs-register-page .hs-register-form .infield {
  position: absolute;
  float: right;
  right: 13px;
  font-size: 14px;
  top: 0;
  width: 15px;
  margin-top: 40px;
}
