/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
.hs-gallery-page .hs-room-filter {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hs-gallery-page #hs-room-filter-menu li {
  padding: 5px 15px;
  border-radius: 3px;
}
.hs-gallery-page #hs-room-filter-menu li a {
  color: #666666;
}
.hs-gallery-page #hs-room-filter-menu li a:hover,
.hs-gallery-page #hs-room-filter-menu li a:focus,
.hs-gallery-page #hs-room-filter-menu li a:active {
  text-decoration: none;
  outline: none;
}
.hs-gallery-page #hs-room-filter-menu li.active {
  background-color: #41cce3;
  font-weight: 600;
  color: #ffffff;
}
.hs-gallery-page #hs-room-filter-menu li.active a {
  color: #ffffff;
}
.hs-gallery-page #hs-room-filter-menu li.active a:hover,
.hs-gallery-page #hs-room-filter-menu li.active a:focus,
.hs-gallery-page #hs-room-filter-menu li.active a:active {
  text-decoration: none;
  outline: none;
}
.hs-gallery-page #hs-rooms-list .hs-sort {
  margin-bottom: 30px;
}
.hs-gallery-page #hs-rooms-list .hs-room-wrapper .hs-room-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hs-gallery-page #hs-rooms-list .hs-room-wrapper .hs-room-info .hs-room-price {
  color: #41cce3;
  font-weight: 900;
  font-size: 25px;
}
