@import "../helpers/_variables";

/* Topbar */
.hs-topbar {
  background-color: @color-white;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid @color-light-grey-5;
  font-size: 12px;
  color: @color-light-grey-2;

  a {
    color: @color-light-grey-3;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      outline: none;
      color: @color-red;
    }
  }

  li {
    span {
      padding-right: 7px;
      font-size: 13px;
    }
  }

  .hs-list-link {
    padding-left: 11px;
    padding-right: 16px;
    border-right: 1px solid @color-light-grey-5;
    color: @color-light-grey-4;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border: none;
    }
  }

  .hs-topbar-left {
    li {
      color: @color-light-grey-4;

      span[class^="icon-"] {
        font-size: 16px;
      }

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border: none;
      }
    }
  }

  .hs-topbar-right {
    padding-right: 0;

    li {
      span[class^="icon-"] {
        font-size: 16px;
        padding-left: 0;
        padding-right: 5px;
      }
    }
  }
}

.hs-topbar-1 {
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  font-weight: 500;
}

.hs-topbar-2 {
  max-height: 200px !important;
}

.hs-top-menu-toggle-span {
  position: relative;
  display: block;
  z-index: 999;
  padding: 5px;
  font-size: 18px;
}

.rotate-me {
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}


/* Main Nav */
.hs-white-menu {
  padding-left: 0;
  padding-right: 0;
  background-color: @color-white;
  border-bottom: 1px solid @color-light-grey-5;

  .hs-search-input-open {
    max-width: 270px !important;
    border-bottom: 1px solid @color-light-grey-5 !important;
    color: @color-light-grey-2 !important;
  }
  .hs-navigation-wrapper {
    background-color: @color-white;
  }
}

.navbar-fixed-top {
  background-color: inherit;
}

.hs-nav-list .hs-dropdown-menu li {
  background-color: @color-white;
}

.hs-nav-list.hs-collapse {
  background-color: @color-white;
  margin-top: 6px;
  padding-top: 5px;
}

.hs-header-topline-wrapper {
  width: 100%;

  .hs-header-topline {
    width: 70%;
    height: 7px;
    float: right;
    background-color: @color-red;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* wrapper for logo and items */
.hs-nav-logo-items-wrapper {
  padding-top: 26px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.menu {
  ul {
    list-style: none;
  }
}

/* button visible only in responsive view screen size */
.hs-responsive-menu-wrapper {
  width: 100%;
  text-align: right;
  opacity: 0;
  display: none;
}

.hs-toggle-menu-btn {

  span {
    vertical-align: middle;
    font-size: 20px;
    color: @color-light-grey-2;
  }

  &:hover, &:active, &:focus {
    outline: none;
    text-decoration: none;
  }
}

/* ul list with list items */
.hs-nav-list {
  color: @color-light-grey-2;
  position: relative;
  list-style: none;
  padding-left: 0;
  text-align: right;
  /*single list menu item*/
  .hs-nav-item {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    color: @color-light-grey-2;
    font-size: 13px;

    a {
      padding: 13px;
      -moz-transition: border 0.2s ease-in-out;
      -o-transition: border 0.2s ease-in-out;
      -webkit-transition: border 0.2s ease-in-out;
      transition: border 0.2s ease-in-out;
      color: @color-light-grey-2;

      &:hover, &:focus {
        text-decoration: none;
        outline: none;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        color: @color-red;
      }
    }
    /* apply font family only on top menu items not on its childs */
    > a {
      font-family: 'Open Sans';
      font-weight: 600;
      color: @color-light-grey-2;

      &:hover, &:focus {
        text-decoration: none;
        outline: none;
        color: @color-blue;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
    /* hover on menu item*/
    &:hover {

      .hs-nav-line {
        width: 100%;
      }

      .hs-dropdown-menu {
        max-height: 1000px;
        overflow: visible;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: max-height 0.3s ease;
        transition: all 0.3s ease;
        opacity: 1;
      }
    }
    /* last menu item open in right to not crash responsive */
    &:nth-last-child(2), &:nth-last-child(3) {
      .hs-dropdown-menu {
        .hs-level-3 {
          left: -220px;
          right: auto;
          top: -1px;
        }

        .hs-level-3-link {
          &:after {
            content: "\f104";
            font-family: 'FontAwesome';
            float: right;
            padding-right: 15px;
          }

          &:before {
            content: " ";
          }
        }
      }
    }
  }
  /*dropdown ul menu*/
  .hs-dropdown-menu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 37px;
    list-style: none;
    padding-left: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
    opacity: 0;

    li {
      padding: 10px 0;
      text-align: left;
      border-bottom: 1px solid @color-light-grey-5;
      font-size: 13px;
      color: @color-light-grey-3;
      font-family: 'Open Sans';
      text-transform: none;
      font-weight: 400;
      min-width: 220px;

      a {
        padding: 10px 15px;
        color: @color-light-grey-3;
      }
    }
  }
}

/* arrow in menu with second level menu */
.hs-mobile-vis {
  display: none;
  float: right;
}

.hs-collapse {
  margin-top: 30px;
  max-height: 500px !important;
  opacity: 1 !important;
}

/* top menu toogle button */
.hs-topmenu-btn-wrapper {
  .hs-top-menu-toggle-btn {
    color: @color-light-grey-3;

    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.hs-display-inlineb {
  display: inline-block;
}

.hs-margin {
  margin-left: 10px;
}


/* Header Background Image */
.hs-header-section {
  width: 100%;
  height: 550px;
  background-image: url( 'img/header-bg.jpg' );

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}