/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #666666;
}
h1 {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h2 {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h3 {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h4 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h5 {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h6 {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
p {
  font-family: 'Roboto';
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  line-height: 1.8;
}
a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* Lined Heading */
.lined-heading {
  text-align: center;
  position: relative;
}
.lined-heading:before {
  border-color: #e4e4e4;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e4e4e4;
  content: "";
}
.lined-heading span {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background: #ffffff;
  display: inline-block;
}
