@import "../helpers/_variables";

@media only screen and (min-width: 320px) and (max-width: 992px) {
  // Responsive Menu
  .hs-nav-logo-items-wrapper {
    padding-bottom: 10px;
  }

  .hs-nav-list {
    max-height: 0;
    overflow: auto;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0;

    .hs-nav-item {
      display: block;
      margin-right: 0;
      margin-bottom: 20px;
      /*line that is showed on header*/
      .hs-nav-line {
        display: none;
      }

      &:last-of-type {
        margin-right: 13px;
      }
    }
    /* second level menu*/
    .hs-dropdown-menu {
      padding-left: 10px;
      position: relative;
      top: 0 !important;
      padding-right: 0;

      .hs-level-3-link {
        &:after {
          content: "";
        }
      }

      li {
        border-bottom: none;
        padding: 0;
        text-align: left;
        padding-top: 15px;

        &:first-child {
          padding-top: 13px;
        }
      }
    }
    /* third level menu*/
    .hs-level-3 {
      padding-left: 10px;
      position: relative;
      right: 0;
      top: 0;
      left: 0 !important;
      padding-right: 35px;

      li {
        padding-top: 0 !important;
        padding-bottom: 15px !important;
        border-top: none !important;

        &:first-child {
          padding-top: 13px !important;
          border-top: 1px solid @color-light-grey-5;
        }

      }
    }
  }

  /*arrow in menu with second level menu*/
  .hs-mobile-vis {
    display: inline;
  }

  /* toggle button*/
  .hs-toggle-menu-btn {
    display: block;
    margin-top: 3px;
    opacity: 1;

    .icon-menu {
      vertical-align: baseline;
    }
  }

  .hs-nav-search-litem {
    .icon-search3 {
      vertical-align: super;
    }
  }

  .hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:before, .hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:before {
    content: "";
  }

  .hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:after, .hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:after {
    content: "";
  }

  /* ----------------------#Responsive Menu------------------------- */
}