/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
/* Homepage reservation section */
.hs-reservation-section {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-color: #ffffff;
}
.hs-reservation-section .reservation-horizontal {
  /* Guests */
}
.hs-reservation-section .reservation-horizontal label {
  font-weight: 500;
  color: #666666;
  font-size: 15px;
}
.hs-reservation-section .reservation-horizontal input {
  width: 100%;
  color: #666666;
}
.hs-reservation-section .reservation-horizontal .form-control {
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hs-reservation-section .reservation-horizontal .form-control:hover,
.hs-reservation-section .reservation-horizontal .form-control:focus,
.hs-reservation-section .reservation-horizontal .form-control:active {
  border: 1px solid #ababab;
  outline: 0;
}
.hs-reservation-section .reservation-horizontal .infield {
  position: absolute;
  float: right;
  right: 22px;
  font-size: 14px;
  top: 0;
  width: 15px;
  margin-top: 40px;
}
.hs-reservation-section .reservation-horizontal .hs-btn-blue {
  margin-top: 20px;
}
.hs-reservation-section .reservation-horizontal .guests-select .guests {
  margin-top: -285px;
  width: 200px;
  height: auto;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  z-index: 500;
  background-color: #fff;
  position: absolute;
  padding: 20px;
  cursor: default !important;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
}
.hs-reservation-section .reservation-horizontal .guests-select .form-group {
  padding-bottom: 15px;
  width: 100%;
}
.hs-reservation-section .reservation-horizontal .guests-select .form-group .form-control {
  width: 100%;
}
.hs-reservation-section .reservation-horizontal .guests-select .total {
  width: 100%;
}
/* Featured Rooms on Homepage */
.hs-featured-rooms .hs-rooms-list {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-featured-rooms .hs-room-wrapper .hs-room-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hs-featured-rooms .hs-room-wrapper .hs-room-info .hs-room-price {
  color: #41cce3;
  font-weight: 900;
  font-size: 25px;
}
/* Rooms */
.hs-rooms-page .hs-room-filter {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hs-rooms-page #hs-room-filter-menu li {
  padding: 5px 15px;
  border-radius: 3px;
}
.hs-rooms-page #hs-room-filter-menu li a {
  color: #666666;
}
.hs-rooms-page #hs-room-filter-menu li a:hover,
.hs-rooms-page #hs-room-filter-menu li a:focus,
.hs-rooms-page #hs-room-filter-menu li a:active {
  text-decoration: none;
  outline: none;
}
.hs-rooms-page #hs-room-filter-menu li.active {
  background-color: #41cce3;
  font-weight: 600;
  color: #ffffff;
}
.hs-rooms-page #hs-room-filter-menu li.active a {
  color: #ffffff;
}
.hs-rooms-page #hs-room-filter-menu li.active a:hover,
.hs-rooms-page #hs-room-filter-menu li.active a:focus,
.hs-rooms-page #hs-room-filter-menu li.active a:active {
  text-decoration: none;
  outline: none;
}
.hs-rooms-page #hs-rooms-list .hs-sort {
  margin-bottom: 30px;
}
.hs-rooms-page #hs-rooms-list .hs-room-wrapper .hs-room-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hs-rooms-page #hs-rooms-list .hs-room-wrapper .hs-room-info .hs-room-price {
  color: #41cce3;
  font-weight: 900;
  font-size: 25px;
}
/* Room details */
.hs-room-details {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-room-details .lined-heading span {
  font-size: 20px;
}
.hs-room-details .hs-room-photo {
  margin-top: 50px;
}
.hs-room-details .hs-room-info {
  margin-top: 50px;
}
.hs-room-details .hs-room-info ul li {
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 0;
  border-bottom: 1px solid #e4e4e4;
  vertical-align: middle;
}
.hs-room-details .hs-room-info ul li:first-child {
  border-top: 1px solid #e4e4e4;
}
.hs-room-details .hs-room-info ul li:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  vertical-align: middle;
  padding-right: 15px;
  color: #41cce3;
}
.hs-room-details .reservation-horizontal {
  margin-top: 30px;
  /* Guests */
}
.hs-room-details .reservation-horizontal label {
  font-weight: 500;
  color: #666666;
  font-size: 15px;
}
.hs-room-details .reservation-horizontal input {
  width: 100%;
  color: #666666;
}
.hs-room-details .reservation-horizontal .form-control {
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hs-room-details .reservation-horizontal .form-control:hover,
.hs-room-details .reservation-horizontal .form-control:focus,
.hs-room-details .reservation-horizontal .form-control:active {
  border: 1px solid #ababab;
  outline: 0;
}
.hs-room-details .reservation-horizontal .infield {
  position: absolute;
  float: right;
  right: 22px;
  font-size: 14px;
  top: 0;
  width: 15px;
  margin-top: 40px;
}
.hs-room-details .reservation-horizontal .hs-btn-blue {
  margin-top: 20px;
}
.hs-room-details .reservation-horizontal .guests-select .guests {
  margin-top: -285px;
  width: 200px;
  height: auto;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  z-index: 500;
  background-color: #fff;
  position: absolute;
  padding: 20px;
  cursor: default !important;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
}
.hs-room-details .reservation-horizontal .guests-select .form-group {
  padding-bottom: 15px;
  width: 100%;
}
.hs-room-details .reservation-horizontal .guests-select .form-group .form-control {
  width: 100%;
}
.hs-room-details .reservation-horizontal .guests-select .total {
  width: 100%;
}
