/* Colors */
@color-white: #FFFFFF;
@color-black: #000000;
@color-red: #FF3C45;
@color-blue: #41CCE3;
@color-dark-grey-1: #262626;
@color-dark-grey-2: #373737;
@color-light-grey-1: #555555;
@color-light-grey-2: #666666;
@color-light-grey-3: #969696;
@color-light-grey-4: #ABABAB;
@color-light-grey-5: #E4E4E4;
@color-light-grey-6: #F2F2F2;

/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url( 'fonts/Roboto-Light.ttf' ) format( 'truetype' );
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url( 'fonts/Roboto-Regular.ttf' ) format( 'truetype' );
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url( 'fonts/Roboto-Medium.ttf' ) format( 'truetype' );
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url( 'fonts/Roboto-Bold.ttf' ) format( 'truetype' );
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url( 'fonts/Roboto-Black.ttf' ) format( 'truetype' );
  font-weight: 900;
}