/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/

.back-to-top
{
    margin: 0px;
    border-width: 0px;
    border-style: none;
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-right:10px;
    padding: 6px;
    display: none;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    background-color: #000;
    opacity:0.8;
    width: 40px;
    height: 40px;
}

.back-to-top:hover
{
    color: #C6E2FF !important;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #666666;
}
h1 {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h2 {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h3 {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h4 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h5 {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
h6 {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #373737;
}
p {
  font-family: 'Roboto';
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  line-height: 1.8;
}
a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* Lined Heading */
.lined-heading {
  text-align: center;
  position: relative;
}
.lined-heading:before {
  border-color: #e4e4e4;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e4e4e4;
  content: "";
}
.lined-heading span {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background: #ffffff;
  display: inline-block;
}

/* About Section */
.hs-about-text {
  padding-top: 30px;
  padding-bottom: 15px;
}
.hs-icon-wrapper span {
  padding: 10px;
  background-color: #ff3c45;
  border-radius: 50%;
  color: #ffffff;
}
.hs-icon-wrapper h4 {
  display: inline-block;
  padding-left: 10px;
}
.hs-icon-content {
  padding-top: 15px;
}

/* Global */
.hs-btn-global,
.hs-btn-sm,
.hs-btn-md,
.hs-btn-lg,
.hs-btn-full {
  display: inline-block;
  border-radius: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
}
/* Button Sizes */
.hs-btn-sm {
  line-height: 1.6;
  font-size: 12px;
  padding: 13px 40px;
  font-weight: 700;
}
.hs-btn-md {
  line-height: 1.8;
  font-size: 14px;
  padding: 15px 50px;
  font-weight: 700;
}
.hs-btn-lg {
  line-height: 1.9;
  font-size: 15px;
  padding: 17px 66px;
  font-weight: 700;
}
.hs-btn-full {
  line-height: 1.8;
  font-size: 14px;
  padding: 15px 50px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
/* Button Colors */
.hs-btn-blue {
  display: inline-block;
  background-color: #41cce3;
  color: #ffffff;
}
.hs-btn-blue:focus,
.hs-btn-blue:hover,
.hs-btn-blue:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #20c0db;
}
.hs-btn-red {
  display: inline-block;
  background-color: #ff3c45;
  color: #ffffff;
}
.hs-btn-red:focus,
.hs-btn-red:hover,
.hs-btn-red:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff131e;
}
.hs-btn-transparent {
  display: inline-block;
  color: #666666;
  border: 2px solid #e4e4e4;
}
.hs-btn-transparent:focus,
.hs-btn-transparent:hover,
.hs-btn-transparent:active {
  text-decoration: none;
  background-color: #666666;
  color: #ffffff;
}
/* Topbar */
.hs-topbar {
  background-color: #ffffff;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  color: #666666;
}
.hs-topbar a {
  color: #969696;
  text-transform: uppercase;
}
.hs-topbar a:hover {
  text-decoration: none;
  outline: none;
  color: #ff3c45;
}
.hs-topbar li span {
  padding-right: 7px;
  font-size: 13px;
}
.hs-topbar .hs-list-link {
  padding-left: 11px;
  padding-right: 16px;
  border-right: 1px solid #e4e4e4;
  color: #ababab;
}
.hs-topbar .hs-list-link:first-child {
  padding-left: 0;
}
.hs-topbar .hs-list-link:last-child {
  border: none;
}
.hs-topbar .hs-topbar-left li {
  color: #ababab;
}
.hs-topbar .hs-topbar-left li span[class^="icon-"] {
  font-size: 16px;
}
.hs-topbar .hs-topbar-left li:first-child {
  padding-left: 0;
}
.hs-topbar .hs-topbar-left li:last-child {
  border: none;
}
.hs-topbar .hs-topbar-right {
  padding-right: 0;
}
.hs-topbar .hs-topbar-right li span[class^="icon-"] {
  font-size: 16px;
  padding-left: 0;
  padding-right: 5px;
}
.hs-topbar-1 {
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  font-weight: 500;
}
.hs-topbar-2 {
  max-height: 200px !important;
}
.hs-top-menu-toggle-span {
  position: relative;
  display: block;
  z-index: 999;
  padding: 5px;
  font-size: 18px;
}
.rotate-me {
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* Main Nav */
.hs-white-menu {
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
}
.hs-white-menu .hs-search-input-open {
  max-width: 270px !important;
  border-bottom: 1px solid #e4e4e4 !important;
  color: #666666 !important;
}
.hs-white-menu .hs-navigation-wrapper {
  background-color: #ffffff;
}
.navbar-fixed-top {
  background-color: inherit;
}
.hs-nav-list .hs-dropdown-menu li {
  background-color: #ffffff;
}
.hs-nav-list.hs-collapse {
  background-color: #ffffff;
  margin-top: 6px;
  padding-top: 5px;
}
.hs-header-topline-wrapper {
  width: 100%;
}
.hs-header-topline-wrapper .hs-header-topline {
  width: 70%;
  height: 7px;
  float: right;
  background-color: #ff3c45;
}
.hs-header-topline-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
/* wrapper for logo and items */
.hs-nav-logo-items-wrapper {
  padding-top: 26px;
  padding-bottom: 12px;
  text-transform: uppercase;
}
.menu ul {
  list-style: none;
}
/* button visible only in responsive view screen size */
.hs-responsive-menu-wrapper {
  width: 100%;
  text-align: right;
  opacity: 0;
  display: none;
}
.hs-toggle-menu-btn span {
  vertical-align: middle;
  font-size: 20px;
  color: #666666;
}
.hs-toggle-menu-btn:hover,
.hs-toggle-menu-btn:active,
.hs-toggle-menu-btn:focus {
  outline: none;
  text-decoration: none;
}
/* ul list with list items */
.hs-nav-list {
  color: #666666;
  position: relative;
  list-style: none;
  padding-left: 0;
  text-align: right;
  /*single list menu item*/
  /*dropdown ul menu*/
}
.hs-nav-list .hs-nav-item {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  color: #666666;
  font-size: 13px;
  /* apply font family only on top menu items not on its childs */
  /* hover on menu item*/
  /* last menu item open in right to not crash responsive */
}
.hs-nav-list .hs-nav-item a {
  padding: 13px;
  -moz-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  color: #666666;
}
.hs-nav-list .hs-nav-item a:hover,
.hs-nav-list .hs-nav-item a:focus {
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ff3c45;
}
.hs-nav-list .hs-nav-item > a {
  font-family: 'Open Sans';
  font-weight: 600;
  color: #666666;
}
.hs-nav-list .hs-nav-item > a:hover,
.hs-nav-list .hs-nav-item > a:focus {
  text-decoration: none;
  outline: none;
  color: #41cce3;
}
.hs-nav-list .hs-nav-item:last-of-type {
  margin-right: 0;
}
.hs-nav-list .hs-nav-item:hover .hs-nav-line {
  width: 100%;
}
.hs-nav-list .hs-nav-item:hover .hs-dropdown-menu {
  max-height: 1000px;
  overflow: visible;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: max-height 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3,
.hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3 {
  left: -220px;
  right: auto;
  top: -1px;
}
.hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:after,
.hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:after {
  content: "\f104";
  font-family: 'FontAwesome';
  float: right;
  padding-right: 15px;
}
.hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:before,
.hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:before {
  content: " ";
}
.hs-nav-list .hs-dropdown-menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 37px;
  list-style: none;
  padding-left: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9999;
  opacity: 0;
}
.hs-nav-list .hs-dropdown-menu li {
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #e4e4e4;
  font-size: 13px;
  color: #969696;
  font-family: 'Open Sans';
  text-transform: none;
  font-weight: 400;
  min-width: 220px;
}
.hs-nav-list .hs-dropdown-menu li a {
  padding: 10px 15px;
  color: #969696;
}
/* arrow in menu with second level menu */
.hs-mobile-vis {
  display: none;
  float: right;
}
.hs-collapse {
  margin-top: 30px;
  max-height: 500px !important;
  opacity: 1 !important;
}
/* top menu toogle button */
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn {
  color: #969696;
}
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn:hover,
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn:active,
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn:focus {
  text-decoration: none;
  outline: none;
}
.hs-display-inlineb {
  display: inline-block;
}
.hs-margin {
  margin-left: 10px;
}
/* Header Background Image */
.hs-header-section {
  width: 100%;
  height: 550px;
  background-image: url('img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hs-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #373737;
}
.hs-footer .copyright {
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
}
.hs-gallery-page .hs-room-filter {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hs-gallery-page #hs-room-filter-menu li {
  padding: 5px 15px;
  border-radius: 3px;
}
.hs-gallery-page #hs-room-filter-menu li a {
  color: #666666;
}
.hs-gallery-page #hs-room-filter-menu li a:hover,
.hs-gallery-page #hs-room-filter-menu li a:focus,
.hs-gallery-page #hs-room-filter-menu li a:active {
  text-decoration: none;
  outline: none;
}
.hs-gallery-page #hs-room-filter-menu li.active {
  background-color: #41cce3;
  font-weight: 600;
  color: #ffffff;
}
.hs-gallery-page #hs-room-filter-menu li.active a {
  color: #ffffff;
}
.hs-gallery-page #hs-room-filter-menu li.active a:hover,
.hs-gallery-page #hs-room-filter-menu li.active a:focus,
.hs-gallery-page #hs-room-filter-menu li.active a:active {
  text-decoration: none;
  outline: none;
}
.hs-gallery-page #hs-rooms-list .hs-sort {
  margin-bottom: 30px;
}
.hs-gallery-page #hs-rooms-list .hs-room-wrapper .hs-room-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hs-gallery-page #hs-rooms-list .hs-room-wrapper .hs-room-info .hs-room-price {
  color: #41cce3;
  font-weight: 900;
  font-size: 25px;
}
/* Homepage reservation section */
.hs-reservation-section {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-color: #ffffff;
}
.hs-reservation-section .reservation-horizontal {
  /* Guests */
}
.hs-reservation-section .reservation-horizontal label {
  font-weight: 500;
  color: #666666;
  font-size: 15px;
}
.hs-reservation-section .reservation-horizontal input {
  width: 100%;
  color: #666666;
}
.hs-reservation-section .reservation-horizontal .form-control {
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hs-reservation-section .reservation-horizontal .form-control:hover,
.hs-reservation-section .reservation-horizontal .form-control:focus,
.hs-reservation-section .reservation-horizontal .form-control:active {
  border: 1px solid #ababab;
  outline: 0;
}
.hs-reservation-section .reservation-horizontal .infield {
  position: absolute;
  float: right;
  right: 22px;
  font-size: 14px;
  top: 0;
  width: 15px;
  margin-top: 40px;
}
.hs-reservation-section .reservation-horizontal .hs-btn-blue {
  margin-top: 20px;
}
.hs-reservation-section .reservation-horizontal .guests-select .guests {
  margin-top: -285px;
  width: 200px;
  height: auto;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  z-index: 500;
  background-color: #fff;
  position: absolute;
  padding: 20px;
  cursor: default !important;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
}
.hs-reservation-section .reservation-horizontal .guests-select .form-group {
  padding-bottom: 15px;
  width: 100%;
}
.hs-reservation-section .reservation-horizontal .guests-select .form-group .form-control {
  width: 100%;
}
.hs-reservation-section .reservation-horizontal .guests-select .total {
  width: 100%;
}
/* Featured Rooms on Homepage */
.hs-featured-rooms .hs-rooms-list {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-featured-rooms .hs-room-wrapper .hs-room-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hs-featured-rooms .hs-room-wrapper .hs-room-info .hs-room-price {
  color: #41cce3;
  font-weight: 900;
  font-size: 25px;
}
/* Rooms */
.hs-rooms-page .hs-room-filter {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hs-rooms-page #hs-room-filter-menu li {
  padding: 5px 15px;
  border-radius: 3px;
}
.hs-rooms-page #hs-room-filter-menu li a {
  color: #666666;
}
.hs-rooms-page #hs-room-filter-menu li a:hover,
.hs-rooms-page #hs-room-filter-menu li a:focus,
.hs-rooms-page #hs-room-filter-menu li a:active {
  text-decoration: none;
  outline: none;
}
.hs-rooms-page #hs-room-filter-menu li.active {
  background-color: #41cce3;
  font-weight: 600;
  color: #ffffff;
}
.hs-rooms-page #hs-room-filter-menu li.active a {
  color: #ffffff;
}
.hs-rooms-page #hs-room-filter-menu li.active a:hover,
.hs-rooms-page #hs-room-filter-menu li.active a:focus,
.hs-rooms-page #hs-room-filter-menu li.active a:active {
  text-decoration: none;
  outline: none;
}
.hs-rooms-page #hs-rooms-list .hs-sort {
  margin-bottom: 30px;
}
.hs-rooms-page #hs-rooms-list .hs-room-wrapper .hs-room-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hs-rooms-page #hs-rooms-list .hs-room-wrapper .hs-room-info .hs-room-price {
  color: #41cce3;
  font-weight: 900;
  font-size: 25px;
}
/* Room details */
.hs-room-details {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-room-details .lined-heading span {
  font-size: 20px;
}
.hs-room-details .hs-room-photo {
  margin-top: 50px;
}
.hs-room-details .hs-room-info {
  margin-top: 50px;
}
.hs-room-details .hs-room-info ul li {
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 0;
  border-bottom: 1px solid #e4e4e4;
  vertical-align: middle;
}
.hs-room-details .hs-room-info ul li:first-child {
  border-top: 1px solid #e4e4e4;
}
.hs-room-details .hs-room-info ul li:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  vertical-align: middle;
  padding-right: 15px;
  color: #41cce3;
}
.hs-room-details .reservation-horizontal {
  margin-top: 30px;
  /* Guests */
}
.hs-room-details .reservation-horizontal label {
  font-weight: 500;
  color: #666666;
  font-size: 15px;
}
.hs-room-details .reservation-horizontal input {
  width: 100%;
  color: #666666;
}
.hs-room-details .reservation-horizontal .form-control {
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hs-room-details .reservation-horizontal .form-control:hover,
.hs-room-details .reservation-horizontal .form-control:focus,
.hs-room-details .reservation-horizontal .form-control:active {
  border: 1px solid #ababab;
  outline: 0;
}
.hs-room-details .reservation-horizontal .infield {
  position: absolute;
  float: right;
  right: 22px;
  font-size: 14px;
  top: 0;
  width: 15px;
  margin-top: 40px;
}
.hs-room-details .reservation-horizontal .hs-btn-blue {
  margin-top: 20px;
}
.hs-room-details .reservation-horizontal .guests-select .guests {
  margin-top: -285px;
  width: 200px;
  height: auto;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
  z-index: 500;
  background-color: #fff;
  position: absolute;
  padding: 20px;
  cursor: default !important;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
}
.hs-room-details .reservation-horizontal .guests-select .form-group {
  padding-bottom: 15px;
  width: 100%;
}
.hs-room-details .reservation-horizontal .guests-select .form-group .form-control {
  width: 100%;
}
.hs-room-details .reservation-horizontal .guests-select .total {
  width: 100%;
}
.hs-contact-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-contact-page .lined-heading {
  margin-bottom: 50px;
}
.hs-contact-page .lined-heading span {
  font-size: 20px;
}
.hs-contact-page .hs-contact-info {
  text-align: center;
}
.hs-contact-page .hs-contact-info p {
  margin-bottom: 2px;
}
.hs-contact-page .hs-contact-form .required {
  color: #ff3c45;
}
.hs-contact-page .hs-contact-form input[type=submit] {
  margin-top: 20px;
}
.gmap-area .gmap iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.gmap{
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}   
/* Login */
.hs-login-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-login-page .lined-heading {
  margin-bottom: 30px;
}
.hs-login-page .lined-heading span {
  font-size: 20px;
}
.hs-login-page .hs-login-form {
  float: none;
  margin: auto;
}
/* Register */
.hs-register-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hs-register-page .lined-heading {
  margin-bottom: 30px;
}
.hs-register-page .lined-heading span {
  font-size: 20px;
}
.hs-register-page .hs-register-form {
  float: none;
  margin: auto;
}
.hs-register-page .hs-register-form .form-group {
  position: relative;
}
.hs-register-page .hs-register-form .infield {
  position: absolute;
  float: right;
  right: 13px;
  font-size: 14px;
  top: 0;
  width: 15px;
  margin-top: 40px;
}
.hs-admin-page {
  padding-bottom: 50px;
  padding-top: 50px;
}
.hs-admin-page .hs-admin-menu ul li {
  padding: 7px 0;
  border-bottom: 1px solid #e4e4e4;
  text-transform: uppercase;
}
.hs-admin-page .hs-admin-menu ul li a {
  color: #666666;
}
.hs-admin-page .hs-admin-menu ul li a:hover {
  color: #ff3c45;
  text-decoration: none;
}
.hs-admin-page .hs-admin-menu ul li.active a {
  color: #ff3c45;
}
/* Rooms List */
.hs-list-rooms .hs-btn-blue {
  margin-bottom: 20px;
}
.hs-list-rooms table {
  text-align: center;
}
.hs-list-rooms table thead {
  font-weight: 700;
}
.hs-list-rooms table .glyphicon-edit {
  color: orange;
  margin-right: 10px;
}
.hs-list-rooms table .glyphicon-remove {
  color: #ff3c45;
}
.hs-add-room .lined-heading {
  margin-bottom: 30px;
}
.hs-add-room .lined-heading span {
  font-size: 20px;
}
.hs-add-room form label {
  font-weight: 400;
}
.hs-add-room form .required {
  color: #ff3c45;
  font-weight: 700;
}
.hs-add-room form .hs-btn-blue {
  margin-top: 20px;
}
/* Users List */
/* Employee - Reservations */
.hs-reservation-employee-list .glyphicon-remove {
  color: #ff3c45;
}
.hs-reservation-employee-list table {
  text-align: center;
}
.hs-reservation-employee-list .lined-heading {
  margin-bottom: 30px;
}
.hs-reservation-employee-list .lined-heading span {
  font-size: 20px;
}
/* User - Reservation */
.hs-reservation-user-list .glyphicon-remove {
  color: #ff3c45;
}
.hs-reservation-user-list table {
  text-align: center;
}
.hs-reservation-user-list .lined-heading {
  margin-bottom: 30px;
}
.hs-reservation-user-list .lined-heading span {
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .hs-nav-logo-items-wrapper {
    padding-bottom: 10px;
  }
  .hs-nav-list {
    max-height: 0;
    overflow: auto;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0;
    /* second level menu*/
    /* third level menu*/
  }
  .hs-nav-list .hs-nav-item {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    /*line that is showed on header*/
  }
  .hs-nav-list .hs-nav-item .hs-nav-line {
    display: none;
  }
  .hs-nav-list .hs-nav-item:last-of-type {
    margin-right: 13px;
  }
  .hs-nav-list .hs-dropdown-menu {
    padding-left: 10px;
    position: relative;
    top: 0 !important;
    padding-right: 0;
  }
  .hs-nav-list .hs-dropdown-menu .hs-level-3-link:after {
    content: "";
  }
  .hs-nav-list .hs-dropdown-menu li {
    border-bottom: none;
    padding: 0;
    text-align: left;
    padding-top: 15px;
  }
  .hs-nav-list .hs-dropdown-menu li:first-child {
    padding-top: 13px;
  }
  .hs-nav-list .hs-level-3 {
    padding-left: 10px;
    position: relative;
    right: 0;
    top: 0;
    left: 0 !important;
    padding-right: 35px;
  }
  .hs-nav-list .hs-level-3 li {
    padding-top: 0 !important;
    padding-bottom: 15px !important;
    border-top: none !important;
  }
  .hs-nav-list .hs-level-3 li:first-child {
    padding-top: 13px !important;
    border-top: 1px solid #e4e4e4;
  }
  /*arrow in menu with second level menu*/
  .hs-mobile-vis {
    display: inline;
  }
  /* toggle button*/
  .hs-toggle-menu-btn {
    display: block;
    margin-top: 3px;
    opacity: 1;
  }
  .hs-toggle-menu-btn .icon-menu {
    vertical-align: baseline;
  }
  .hs-nav-search-litem .icon-search3 {
    vertical-align: super;
  }
  .hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:before,
  .hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:before {
    content: "";
  }
  .hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:after,
  .hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:after {
    content: "";
  }
  /* ----------------------#Responsive Menu------------------------- */
}
