@import "../helpers/_variables";

.hs-admin-page {
  padding-bottom: 50px;
  padding-top: 50px;

  .hs-admin-menu {
    ul {
      li {
        padding: 7px 0;
        border-bottom: 1px solid @color-light-grey-5;
        text-transform: uppercase;

        a {
          color: @color-light-grey-2;

          &:hover {
            color: @color-red;
            text-decoration: none;
          }
        }
      }
      li.active {
        a {
          color: @color-red;
        }
      }
    }
  }
}

/* Rooms List */
.hs-list-rooms {

  .hs-btn-blue {
    margin-bottom: 20px;
  }

  table {
    text-align: center;

    thead {
      font-weight: 700;
    }

    .glyphicon-edit {
      color: orange;
      margin-right: 10px;
    }
    .glyphicon-remove {
      color: @color-red;
    }
  }
}

.hs-add-room {
  .lined-heading {
    margin-bottom: 30px;

    span {
      font-size: 20px;
    }
  }
  form {
    label {
      font-weight: 400;
    }
    .required {
      color: @color-red;
      font-weight: 700;
    }
    .hs-btn-blue {
      margin-top: 20px;
    }
  }
}

/* Users List */

/* Employee - Reservations */
.hs-reservation-employee-list {
  .glyphicon-remove {
    color: @color-red;
  }
  table {
    text-align: center;
  }
  .lined-heading {
    margin-bottom: 30px;

    span {
      font-size: 20px;
    }
  }
}

/* User - Reservation */
.hs-reservation-user-list {
  .glyphicon-remove {
    color: @color-red;
  }
  table {
    text-align: center;
  }
  .lined-heading {
    margin-bottom: 30px;

    span {
      font-size: 20px;
    }
  }
}