@import "../helpers/_variables";

/* Global */
.hs-btn-global {
  display: inline-block;
  border-radius: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
}

/* Button Sizes */
.hs-btn-sm {
  &:extend(.hs-btn-global);
  line-height: 1.6;
  font-size: 12px;
  padding: 13px 40px;
  font-weight: 700;
}

.hs-btn-md {
  &:extend(.hs-btn-global);
  line-height: 1.8;
  font-size: 14px;
  padding: 15px 50px;
  font-weight: 700;
}

.hs-btn-lg {
  &:extend(.hs-btn-global);
  line-height: 1.9;
  font-size: 15px;
  padding: 17px 66px;
  font-weight: 700;
}
.hs-btn-full {
  &:extend(.hs-btn-global);
  line-height: 1.8;
  font-size: 14px;
  padding: 15px 50px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

/* Button Colors */
.hs-btn-blue {
  display: inline-block;
  background-color: @color-blue;
  color: @color-white;

  &:focus,
  &:hover, &:active {
    text-decoration: none;
    color: @color-white;
    background-color: darken(@color-blue, 8%);
  }
}

.hs-btn-red {
  display: inline-block;
  background-color: @color-red;
  color: @color-white;

  &:focus,
  &:hover, &:active {
    text-decoration: none;
    color: @color-white;
    background-color: darken(@color-red, 8%);
  }
}

.hs-btn-transparent {
  display: inline-block;
  color: @color-light-grey-2;
  border: 2px solid @color-light-grey-5;
  &:focus,
  &:hover, &:active {
    text-decoration: none;
    background-color: @color-light-grey-2;
    color: @color-white;
  }
}