@import "../helpers/_variables";

.hs-contact-page {
  padding-top: 50px;
  padding-bottom: 50px;

  .lined-heading {
    margin-bottom: 50px;
    span {
      font-size: 20px;
    }
  }

  .hs-contact-info {
    text-align: center;
    p {
      margin-bottom: 2px;
    }
  }

  .hs-contact-form {
    .required {
      color: @color-red;
    }
    input[type=submit] {
      margin-top: 20px;
    }
  }
}