@import "../helpers/_variables";

.hs-gallery-page {
  .hs-room-filter {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #hs-room-filter-menu {
    li {
      padding: 5px 15px;
      border-radius: 3px;

      a {
        color: @color-light-grey-2;

        &:hover, &:focus, &:active {
          text-decoration: none;
          outline: none;
        }
      }
    }
    li.active {
      background-color: @color-blue;
      font-weight: 600;
      color: @color-white;

      a {
        color: @color-white;

        &:hover, &:focus, &:active {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }

  #hs-rooms-list {
    .hs-sort {
      margin-bottom: 30px;
    }
    .hs-room-wrapper {
      .hs-room-info {
        padding-top: 20px;
        padding-bottom: 20px;
        .hs-room-price {
          color: @color-blue;
          font-weight: 900;
          font-size: 25px;
        }
      }
    }
  }
}