/* Colors */
/* Fonts */
/*
300 light
400 normal
500 medium
700 bold
ultra-bold 900
*/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
/* Topbar */
.hs-topbar {
  background-color: #ffffff;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  color: #666666;
}
.hs-topbar a {
  color: #969696;
  text-transform: uppercase;
}
.hs-topbar a:hover {
  text-decoration: none;
  outline: none;
  color: #ff3c45;
}
.hs-topbar li span {
  padding-right: 7px;
  font-size: 13px;
}
.hs-topbar .hs-list-link {
  padding-left: 11px;
  padding-right: 16px;
  border-right: 1px solid #e4e4e4;
  color: #ababab;
}
.hs-topbar .hs-list-link:first-child {
  padding-left: 0;
}
.hs-topbar .hs-list-link:last-child {
  border: none;
}
.hs-topbar .hs-topbar-left li {
  color: #ababab;
}
.hs-topbar .hs-topbar-left li span[class^="icon-"] {
  font-size: 16px;
}
.hs-topbar .hs-topbar-left li:first-child {
  padding-left: 0;
}
.hs-topbar .hs-topbar-left li:last-child {
  border: none;
}
.hs-topbar .hs-topbar-right {
  padding-right: 0;
}
.hs-topbar .hs-topbar-right li span[class^="icon-"] {
  font-size: 16px;
  padding-left: 0;
  padding-right: 5px;
}
.hs-topbar-1 {
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  font-weight: 500;
}
.hs-topbar-2 {
  max-height: 200px !important;
}
.hs-top-menu-toggle-span {
  position: relative;
  display: block;
  z-index: 999;
  padding: 5px;
  font-size: 18px;
}
.rotate-me {
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* Main Nav */
.hs-white-menu {
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
}
.hs-white-menu .hs-search-input-open {
  max-width: 270px !important;
  border-bottom: 1px solid #e4e4e4 !important;
  color: #666666 !important;
}
.hs-white-menu .hs-navigation-wrapper {
  background-color: #ffffff;
}
.navbar-fixed-top {
  background-color: inherit;
}
.hs-nav-list .hs-dropdown-menu li {
  background-color: #ffffff;
}
.hs-nav-list.hs-collapse {
  background-color: #ffffff;
  margin-top: 6px;
  padding-top: 5px;
}
.hs-header-topline-wrapper {
  width: 100%;
}
.hs-header-topline-wrapper .hs-header-topline {
  width: 70%;
  height: 7px;
  float: right;
  background-color: #ff3c45;
}
.hs-header-topline-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
/* wrapper for logo and items */
.hs-nav-logo-items-wrapper {
  padding-top: 26px;
  padding-bottom: 12px;
  text-transform: uppercase;
}
.menu ul {
  list-style: none;
}
/* button visible only in responsive view screen size */
.hs-responsive-menu-wrapper {
  width: 100%;
  text-align: right;
  opacity: 0;
  display: none;
}
.hs-toggle-menu-btn span {
  vertical-align: middle;
  font-size: 20px;
  color: #666666;
}
.hs-toggle-menu-btn:hover,
.hs-toggle-menu-btn:active,
.hs-toggle-menu-btn:focus {
  outline: none;
  text-decoration: none;
}
/* ul list with list items */
.hs-nav-list {
  color: #666666;
  position: relative;
  list-style: none;
  padding-left: 0;
  text-align: right;
  /*single list menu item*/
  /*dropdown ul menu*/
}
.hs-nav-list .hs-nav-item {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  color: #666666;
  font-size: 13px;
  /* apply font family only on top menu items not on its childs */
  /* hover on menu item*/
  /* last menu item open in right to not crash responsive */
}
.hs-nav-list .hs-nav-item a {
  padding: 13px;
  -moz-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  color: #666666;
}
.hs-nav-list .hs-nav-item a:hover,
.hs-nav-list .hs-nav-item a:focus {
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ff3c45;
}
.hs-nav-list .hs-nav-item > a {
  font-family: 'Open Sans';
  font-weight: 600;
  color: #666666;
}
.hs-nav-list .hs-nav-item > a:hover,
.hs-nav-list .hs-nav-item > a:focus {
  text-decoration: none;
  outline: none;
  color: #41cce3;
}
.hs-nav-list .hs-nav-item:last-of-type {
  margin-right: 0;
}
.hs-nav-list .hs-nav-item:hover .hs-nav-line {
  width: 100%;
}
.hs-nav-list .hs-nav-item:hover .hs-dropdown-menu {
  max-height: 1000px;
  overflow: visible;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: max-height 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3,
.hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3 {
  left: -220px;
  right: auto;
  top: -1px;
}
.hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:after,
.hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:after {
  content: "\f104";
  font-family: 'FontAwesome';
  float: right;
  padding-right: 15px;
}
.hs-nav-list .hs-nav-item:nth-last-child(2) .hs-dropdown-menu .hs-level-3-link:before,
.hs-nav-list .hs-nav-item:nth-last-child(3) .hs-dropdown-menu .hs-level-3-link:before {
  content: " ";
}
.hs-nav-list .hs-dropdown-menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 37px;
  list-style: none;
  padding-left: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9999;
  opacity: 0;
}
.hs-nav-list .hs-dropdown-menu li {
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #e4e4e4;
  font-size: 13px;
  color: #969696;
  font-family: 'Open Sans';
  text-transform: none;
  font-weight: 400;
  min-width: 220px;
}
.hs-nav-list .hs-dropdown-menu li a {
  padding: 10px 15px;
  color: #969696;
}
/* arrow in menu with second level menu */
.hs-mobile-vis {
  display: none;
  float: right;
}
.hs-collapse {
  margin-top: 30px;
  max-height: 500px !important;
  opacity: 1 !important;
}
/* top menu toogle button */
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn {
  color: #969696;
}
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn:hover,
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn:active,
.hs-topmenu-btn-wrapper .hs-top-menu-toggle-btn:focus {
  text-decoration: none;
  outline: none;
}
.hs-display-inlineb {
  display: inline-block;
}
.hs-margin {
  margin-left: 10px;
}
/* Header Background Image */
.hs-header-section {
  width: 100%;
  height: 550px;
  background-image: url('img/header-bg.jpg');
  position:absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
