@import "../helpers/_variables";

body {
  background-color: @color-white;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: @color-light-grey-2;
}

h1 {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: @color-dark-grey-2;
}
h2 {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: @color-dark-grey-2;
}
h3 {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: @color-dark-grey-2;
}
h4 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: @color-dark-grey-2;
}
h5 {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: @color-dark-grey-2;
}
h6 {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: @color-dark-grey-2;
}

p {
  font-family: 'Roboto';
  font-weight: 400;
  color: @color-light-grey-2;
  font-size: 14px;
  line-height: 1.8;
}

a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

/* Lined Heading */
.lined-heading {
  text-align: center;
  position: relative;

  &:before {
    border-color: @color-light-grey-5;
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid @color-light-grey-5;
    content: "";
  }
  span {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    background: @color-white;
    display: inline-block;
  }
}