@import "../helpers/_variables";

/* Homepage reservation section */
.hs-reservation-section {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-color: @color-white;

  .reservation-horizontal {
    label {
      font-weight: 500;
      color: @color-light-grey-2;
      font-size: 15px;
    }
    input {
      width: 100%;
      color: @color-light-grey-2;
    }
    .form-control {
      border: 1px solid @color-light-grey-5;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      &:hover, &:focus, &:active {
        border: 1px solid @color-light-grey-4;
        outline: 0;
      }
    }
    .infield {
      position: absolute;
      float: right;
      right: 22px;
      font-size: 14px;
      top: 0;
      width: 15px;
      margin-top: 40px;
    }
    .hs-btn-blue {
      margin-top: 20px;
    }

    /* Guests */
    .guests-select {
      .guests {
        margin-top: -285px;
        width: 200px;
        height: auto;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        border: 1px solid #ebebeb;
        -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
        box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
        z-index: 500;
        background-color: #fff;
        position: absolute;
        padding: 20px;
        cursor: default !important;
        display: none;
        animation-name: fadeIn;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.2s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-name: fadeIn;
        -moz-animation-duration: 0.2s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-out;
      }
      .form-group {
        padding-bottom: 15px;
        width: 100%;

        .form-control {
          width: 100%;
        }
      }
      .total {
        width: 100%;
      }
    }

  }

}

/* Featured Rooms on Homepage */
.hs-featured-rooms {
  .hs-rooms-list {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hs-room-wrapper {
    .hs-room-info {
      padding-top: 20px;
      padding-bottom: 20px;
      .hs-room-price {
        color: @color-blue;
        font-weight: 900;
        font-size: 25px;
      }
    }
  }

}

/* Rooms */
.hs-rooms-page {
  .hs-room-filter {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #hs-room-filter-menu {
    li {
      padding: 5px 15px;
      border-radius: 3px;

      a {
        color: @color-light-grey-2;

        &:hover, &:focus, &:active {
          text-decoration: none;
          outline: none;
        }
      }
    }
    li.active {
      background-color: @color-blue;
      font-weight: 600;
      color: @color-white;

      a {
        color: @color-white;

        &:hover, &:focus, &:active {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }

  #hs-rooms-list {
    .hs-sort {
      margin-bottom: 30px;
    }
    .hs-room-wrapper {
      .hs-room-info {
        padding-top: 20px;
        padding-bottom: 20px;
        .hs-room-price {
          color: @color-blue;
          font-weight: 900;
          font-size: 25px;
        }
      }
    }
  }
}

/* Room details */
.hs-room-details {
  padding-top: 50px;
  padding-bottom: 50px;

  .lined-heading {
    span {
      font-size: 20px;
    }
  }

  .hs-room-photo {
    margin-top: 50px;
  }
  .hs-room-info {
    margin-top: 50px;

    ul {
      li {
        font-size: 16px;
        text-transform: uppercase;
        padding: 7px 0;
        border-bottom: 1px solid @color-light-grey-5;
        vertical-align: middle;

        &:first-child {
          border-top: 1px solid @color-light-grey-5;
        }

        &:before {
          content: "\e013";
          font-family: 'Glyphicons Halflings';
          font-size: 12px;
          vertical-align: middle;
          padding-right: 15px;
          color: @color-blue;
        }
      }
    }
  }

  .reservation-horizontal {
    margin-top: 30px;

    label {
      font-weight: 500;
      color: @color-light-grey-2;
      font-size: 15px;
    }
    input {
      width: 100%;
      color: @color-light-grey-2;
    }
    .form-control {
      border: 1px solid @color-light-grey-5;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      &:hover, &:focus, &:active {
        border: 1px solid @color-light-grey-4;
        outline: 0;
      }
    }
    .infield {
      position: absolute;
      float: right;
      right: 22px;
      font-size: 14px;
      top: 0;
      width: 15px;
      margin-top: 40px;
    }
    .hs-btn-blue {
      margin-top: 20px;
    }

    /* Guests */
    .guests-select {
      .guests {
        margin-top: -285px;
        width: 200px;
        height: auto;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        border: 1px solid #ebebeb;
        -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
        box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
        z-index: 500;
        background-color: #fff;
        position: absolute;
        padding: 20px;
        cursor: default !important;
        display: none;
        animation-name: fadeIn;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.2s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-name: fadeIn;
        -moz-animation-duration: 0.2s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-out;
      }
      .form-group {
        padding-bottom: 15px;
        width: 100%;

        .form-control {
          width: 100%;
        }
      }
      .total {
        width: 100%;
      }
    }

  }

}